@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro");
* {
  box-sizing: border-box;
  top: 0;
}
body {
  height: 100%;
}
/* Navbar */
header {
  height: 3.5rem;
  background-color: #fff;
}
.div-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  margin: 0 4rem;
}
.logo-name {
  color: #5cb85c !important;
  text-decoration: none;
  font-family: "Titillium Web", sans-serif;
  font-size: 1.5rem;
}

.ul-navbar {
  display: flex;
  list-style: none;
}
.li-navbar a {
  margin-right: 20px;
  color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
}
.li-navbar a:hover {
  color: #373a3c;
}
.info {
  line-height: 1rem;
  display: inline-block;
  vertical-align: middle;
}
.author {
  color: #5cb85c;
  text-decoration: none;
}
/* Banner */
.banner-container {
  color: #fff;
  background-color: #5cb85c;
  text-align: center;
  padding: 2rem;
  margin-bottom: 2rem;
  box-shadow: inset 0 8px 8px -8px rgb(0 0 0 / 30%),
    inset 0 -8px 8px -8px rgb(0 0 0 / 30%);
}
.h-banner {
  font-size: 3.5rem;
  font-family: "Titillium Web", sans-serif;
}
.p-banner {
  font-size: 1.5rem;
  font-weight: 300;
}
/* Main */
.main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin: 0 4.5rem;
  column-gap: 2rem;
}
ul {
  padding: 0;
}
.info {
  display: inline-flex;
  flex-direction: column;
  font-weight: 300;
  margin-bottom: 1.5rem;
  margin-left: 0.5rem;
}

.global-feed {
  margin-bottom: 0.5rem;
}
.global-list {
  display: flex;
  margin-left: 0.25rem;
  /* flex-wrap: wrap; */
}
.gl-item {
  list-style: none;
}
.all-articles,
.gl-link {
  color: #5cb85c;
  text-decoration: none;
  border-bottom: #5cb85c solid 2px;
  padding: 1rem;
  cursor: pointer;
  font-weight: 500;
}

.article-container {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1.5rem 0;
  margin-bottom: 1rem;
  font-family: "Source Sans Pro", sans-serif;
}
.author-img {
  display: inline-block;
  border-radius: 50%;
}
.author {
  font-weight: 500;
}
.btn-container {
  float: right;
  display: inline;
  padding: 0.25rem 0.5rem;
}
.date {
  color: #bbb;
  font-size: 0.8rem;
  display: block;
}
.btn-fav {
  color: #5cb85c;
  background-color: #fff;
  border-color: #5cb85c;
  border: 1px solid;
  border-radius: 4px;
  cursor: pointer;
}
.btn-fav:hover {
  color: #fff;
  background-color: #5cb85c;
  border-color: #5cb85c;
}
.items-body {
  justify-content: space-between;
  flex-direction: column;
  text-decoration: none;
}
.items-body h1 {
  font-size: 1.5rem;
  color: #373a3c;
  font-weight: 600;
}
.items-body p {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  color: #999;
  font-weight: 300;
}
.items-body span {
  color: #bbb;
  font-size: 0.8rem;
  font-weight: 300;
}
/* Badge in Card */
.tag-badge {
  list-style: none;
}
.badge-item {
  float: right;
  font-size: 0.8rem;
  margin: 2px;
  border: 1px solid #ddd;
  border-radius: 10rem;
  color: #aaa;
  background: 0 0;
  padding: 0 0.5rem;
}
/* Form */
.account-form {
  padding-right: 15px;
  padding-left: 15px;
  font-family: "Source Sans Pro", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.account-form h1 {
  font-size: 2.5rem;
  color: #373a3c;
  font-weight: 500;
  margin-bottom: 0.5rem;
}
.account-text {
  color: #5cb85c;
  text-decoration: none;
}
.form-group {
  margin: 0;
  border: none;
  padding-left: 0;
  padding-right: 0;
}
.form-input {
  color: #999;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  padding: 0.75rem 1.5rem;
  font-size: 1.25rem;
  border-radius: 0.3rem;
}
.form-btn {
  color: #fff;
  background-color: #5cb85c;
  font-size: 1.25rem;
  float: right;
  font-weight: 400;
  border-radius: 0.3rem;
  padding: 0.75rem 1.5rem;
  white-space: nowrap;
  cursor: pointer;
  border: 1px solid transparent;
  font-family: "Source Sans Pro", sans-serif;
}
.form-btn:hover {
  background-color: #52a352;
}
/* Tags */

.tags-container {
  font-family: "source sans pro", sans-serif;
  background-color: #f3f3f3;
  padding: 5px 10px 10px;
  border-radius: 4px;
}

.tag-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  cursor: pointer;
}

.tag-name {
  background-color: #818a91;
  color: #fff;
  font-size: 0.8rem;
  padding: 0.1rem 0.4rem;
  margin: 0.3rem;
  border-radius: 1rem;
  text-decoration: none;
  width: fit-content;
}
/* Footer */
.footer-container {
  background: linear-gradient(#485563, #29323c);
  text-align: center;
  width: 100%;
  padding: 1rem;
  margin-top: 5rem;
  box-shadow: 0 5px 5px 5px rgb(0 0 0 / 40%);
  font-size: 1.5rem;
}
.footer-link {
  text-decoration: none;
  color: #fff;
}
.footer-link:hover {
  text-decoration: underline;
}
.fa {
  margin: 0.5rem;
  cursor: pointer;
}
